<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QCM_Manager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>25FBF20A1C1C538D001C28A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25FBF2201C1C538D001C28A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25FBF22B1C1C538E001C28A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
